*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* header section starts */
.header{
    margin: 20px 0px;
    background-color: white;
    border-bottom: 3px solid #f5f5f5;
}
.logo a{
    font-size: 1em;
    font-weight:600;
    color: black;
    text-decoration: none;
    margin:0 10px;
}
.nav{
     margin: 0 10px;
}
.nav a{
    text-decoration: none;
    color: #6a6c8a;
    font-size: .8em;
    font-weight: 600;
}
.nav button{
    padding:0 5px;
    margin-bottom: 10px;
    color:rgb(19, 163, 216);
    background-color: white;
    border: 1px solid rgb(19, 163, 216);
    border-radius: 4px;
}
/* headerv section ends */
/* main section starts */
.maincontent{
    margin:20px;
}
.title{
    font-size: 2em;
}
.content{
    text-align: center;
}
.content1{
    margin: 15px;
    text-align: center;
    width:200px;
}
.hsz{
    font-size: 1.3em;
    border: 1px solid #e4e4e4;
    background-color: #f7f7f7;
    padding: 10px;
}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.numsz{
    font-size: 1.8em;
    font-weight: 600;
    padding:5px;
}
.lsz{
    font-size: 20px;
    font-weight: 500;
    color: #6a6c8a;
}
.para{
    color:#6a6c8a;
    padding-top: 10px;
    font-size: 15px;
}
.parasz{
    font-size:.7rem;
    color:#6a6c8a;
    font-weight: 500;
}
.btn{
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 5px;
    width:90%;
    border-color:rgba(183,218,255,255);
    border-radius: 4px;
    font-size: 1em;
    color:rgb(11, 160, 205);
    background-color: white;
}
.borders{
    border: 1px solid #e4e4e4;
}
.btn2{
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 5px;
    width:90%;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    border-radius: 4px;
    border:none;
}
.paras{
    padding:10px;
}
/* main section ends */
hr{
    border-color: #ffffff;
    width:45%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} 
/* footer section starts */
.footer{
    border-top: 2px #555a62;
    margin:20px;
}
.logo2 i{
    color: #6011a2;
}
.copy i{
    color: #555a62;
}
.logo2{
    font-size: 1.5em;
}
.copy{
    font-size:x-small;
    font-weight: 600;
    color: rgb(65, 64, 64);
}
.heads{
    font-size:small;
    font-weight: 600;
    color: #3e414d;
    padding-bottom: 5px;
}
.features p{
    font-size:10px;
    font-weight: 600;
    padding: 3px;
    color: #979a9b;
}
/* footer section ends */
/* media query starts */
@media(min-width:768px){
    .header{
        display: flex;
    }
    .logo{
        /* flex:2; */
        width: 80%;
    }
    .nav{
        /* flex:1; */
        width: 20%;
    }
    .divide{
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .content{
        margin-left:30%;
        margin-right: 30%;
        padding-top: 3%;
    }
    .content1{
        width: 200px;
    }
    .para{
        padding-bottom: 20px;
    }
    .paras{
        margin:0 10px 0 10px;
    }
    .footer{
        margin-left: 28%;
        margin-right: 25%;
        display: flex;
        justify-content: center;
    }
    .f1{
        width: 25%;
    }
    .features{
        width: 25%;
    }
    .resource{
        width: 25%;
    }
    .about{
        width: 25%;
    }
}
/* media query ends */